
services:
  backend:
    build: 
      context: . 
      dockerfile: Dockerfile
    container_name: django_blog
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - ${PORT_ROOT}:${PORT_ROOT}
    environment:
      - SECRET_KEY=test
      - DEBUG=True
    depends_on:            
      - db

  db:                      
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:           
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:              
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - ${PORT_DB}:${PORT_DB}
    
volumes:
  postgres_data: